<!--Bottom Navbar-->
<!-- Remove the container if you want to extend the Footer to full width. -->

    <!-- Copyright -->
    
    <!-- Copyright -->
  





<div class="fixed-bottom navbar-dark bg-dark">
  <div class="text-center text-white p-3 bottom " >
    <h6 class="navbar-text">&copy; 2022 by Belal Sahibzada  
    <a href="https://github.com/belalsahibzada"><img src="/assets/images/github.png" class="img-fluid" alt="Github" style="width:25px;padding:0px"></a>
    <a href="https://ca.linkedin.com/in/belal-ahmad-sahibzada-381433221"><img src="/assets/images/linkedin.png" class="img-fluid" alt="Linkedin" style="width:25px;padding:0px"></a></h6>
  </div>
</div>

