<!--Bottom Navbar-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">&copy;  Belal Sahibzada 2022. All Rights Reserved  
  <a href="https://github.com/belalsahibzada"><img src="/assets/images/github.png" alt="Github" style="width:25px;padding:0px"></a>
  <a href="https://ca.linkedin.com/in/belal-ahmad-sahibzada-381433221"><img src="/assets/images/linkedin.png" alt="Linkedin" style="width:25px;padding:0px"></a></h6>

</nav>