<%- include partials/header %>
<%- include partials/main_nav %>

<main>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="about-text"> My name is Belal. I am currently a second year Networking and IT Security student at Ontario Tech University.
      I like to play video games, and I enjoy learning about technology.  </p>
      <img class="img-fluid" src="/assets/images/Belal.png" alt="Me">
      <video id="video" controls poster="" onloadstart="this.volume=0.02" preload="auto"> 
                <source src="/assets/videos/video.mp4" type="video/mp4">
                Browser does not support video.
            </video>
    </div>
  </div>
</main>

  
<%- include partials/bottom_nav %>
<%- include partials/footer %>
