/* Custom CSS goes here */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display:wght@500&display=swap');

body {
  background-color: rgb(20, 20, 20);
  margin: 0px;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 45%;
  right: 0;
  left:0;
  bottom: 0;
  text-align: center;
}

p{
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 55%;
  right: 0;
  left:0;
  bottom: 0;
  text-align: center;
}

h6{
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.projects-title{
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 12%;
  bottom: 0;
  text-align: center;
}
.projects {
  font-family: 'Playfair Display', serif;
  color: #252525;
  font-size: 25px;
  padding-right: 90px;
  position: absolute;
  top:25%;
  left: 5%;
}
/* Styles for projects page*/
h3{
  font-family: 'Nunito', sans-serif;
  color: #252525;
  font-size: 50px;  
}
/* Styles for projects page*/
p2 {
  font-family: 'Nunito', sans-serif;
  position: relative;
  left: 3%;
}

